// Summary page 
$primary-color: #ec549b;
$secondary-color: #e22d82;
$ternary-color: #fa86b8;
$light-pink: #fae2ed;
$white-color: #ffffff;
$light-color: #f8f9fa;
$primary-red:rgb(189, 44, 44);
$secondary-red:rgb(236, 90, 90);
$primary-green:rgb(37, 109, 49);
$secondary-green:rgb(68, 153, 82);
